<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fanster.calculator"
      android:versionCode="2"
      android:versionName="1.01">
<uses-sdk android:minSdkVersion="4"/>


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="Menu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

  	  	<activity android:name="CreditCalculator"
                  android:label="Credit Card Payoff Calculator">
        </activity>
            
  	  	<activity android:name="MortgageCalculator"
                  android:label="Mortgage Calculator">
        </activity>
  	  	
  	  	<activity android:name="ROICalculator"
                  android:label="ROI Calculator">
        </activity>
  	  	
  	  	<activity android:name="TVMCalculator"
                  android:label="Nest Egg Calculator">
        </activity>

  	  	<activity android:name="RetirementCalculator"
                  android:label="Retirement Calculator">
        </activity>
  	  	
  	  	<activity android:name="TipCalculator"
                  android:label="Tip Calculator">
        </activity>

    </application>
</manifest>